<h1 class="my-3 text-primary">
    Listagem de Serviços
    <button type="button" routerLink="/produto/cadastrar" class="btn btn-success mt-2 float-right">
         Cadastrar </button>
</h1>
<div class="card shadow">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Codigo </th>
                <th>Nome</th>
                <th>Data da Venda</th>
                <th>Valor</th>
                <th>Promoção</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of listaProdutos" >
            <td>{{prod.id}}</td>
                <td>{{prod.nome}}</td>
                <td>{{prod.validade}}</td>
                <td>R${{prod.preco}}</td>
                <td>{{prod.promocao}}</td>
                <td></td>
                    <button class="btn btn-warning">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger ml-2">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
            </tr>
        </tbody>
    </table>
</div>